/* STARTMENUBAR-STYLING */
.startmenu{
    height: 75vh;
    width: 65vw;
    background-color:rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    position: fixed;
    left: 0px;
    bottom:-80vh;
    opacity: 0;
    display: flex;
    transition:bottom .25s ease-in-out, opacity 0.25s ease-in-out;
}
.visible{
  bottom: 4.5vh;
  opacity: 1;
}
.controlmenu{
  width: 3vw;
  height: 100%;
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.control-menu-start{
  width: 100%;
  height: 4.5vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-menu-items{
  height: 22.5vh;
  width: 100%;
  
}
.control-menu-start:hover{
  background-color: rgb(255, 255, 255,.4); 
}

.cm{
  width: 100%;
  height: 4.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cm:hover{
   background-color: rgb(255, 255, 255,.4); 
}
.recentlyadded{
  width: 16vw;
  height: 100%;
 
}
.recentlyadded-heading{
  height: 4.5vh;
  width: 100%;
  text-align: left;
  display: flex;
  font-size: small;
  font-weight: 120;
  align-items: center;
  
}
.recently-added-list{
  height: 70.5vh;
  width: 100%;
  overflow: scroll;
  
}
.recently-added-list::-webkit-scrollbar {
  display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */
.recently-added-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.menulist:hover{
  background-color: rgb(255, 255, 255,.4); 
}
.menulist{
  height: 4.5vh;
  width: 100%;
  margin-left: 5%;
  text-align: left;
  display: flex;
  font-size: small;
  font-weight: 120;
  align-items: center;
}
.listicon{
height: 100%;

width: 2.5vw;  
display: flex;
align-items: center;
justify-content: center;

}
.tilescontainer{
  width: 51vw;
  height: 100%;
  display: flex;
  justify-content: space-evenly; 
}
.col1,.col2{
    width: 48%;
    
    height: 100%;
   
}
.win-btn{
  background-color: rgba(155, 155, 155, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.win-btn:hover{
  border: 2px rgb(161, 158, 158) solid;
}


#prod-wb2{
 grid-column-start:2;
 grid-column-end:4 ;
}
#exp-wb1,#exp-wb2,#exp-wb3{
 grid-column-start: span 2;
 grid-row-start: span 2;
}
#exp-wb4{
  grid-column-start: span 4;
  grid-row-start: span 2;
}




.productivity-wrapper{
    width: 100%;
    height: 40%;
}
.wrapper-heading{
  width: 100%;
  height: 4.5vh;
  padding-left: 5px;
  
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight:100;
  font-size: 14px;
}
.productivity{
  width: 100%;
  height: calc(100% - 4.5vh);
 
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(3,1fr);
  padding: 5px;
  row-gap: 5px;
  column-gap: 5px;
}
.explore-wrapper{
  width: 100%;
  height: 60%;
  
 

}

.explore{
width: 100%;
height: calc(100% - 4.5vh);

display: grid;
grid-template-rows: repeat(6,1fr);
grid-template-columns: repeat(6,1fr);
padding: 5px;
row-gap: 5px;
column-gap: 5px;
}




.selectedtask{
  border-bottom:3px solid #6ca4cf ;
  background-color:rgb(255, 255, 255,.1);
}
.play-wrapper{
  width: 100%;
  height: 55%;
}
.play{
  width: 100%;
  height: calc(100% - 4.5vh);
  display: grid;
  grid-template-rows: repeat(3, 11.8vh);
  grid-template-columns: repeat(3,1fr);
  padding: 5px;
  row-gap: 5px;
  column-gap: 5px;
}
#play-wb1,#play-wb6{
  grid-column-start: span 2;
}







.media-wrapper{
  width: 100%;
  height: 45%;
}
.media{
  width: 100%;
  height: calc(100% - 4.5vh);
  display: grid;
  grid-template-rows: repeat(3, 11.8vh);
  grid-template-columns: repeat(3,1fr);
  padding: 5px;
  row-gap: 5px;
  column-gap: 5px;
}



/* News and Weather slidebar Styling  */

.news-slidebar{
    height: 70vh;
    border:1px solid white;
    width: 35vw;
    position: fixed;
    right: 50px;
    bottom: -100vh;
    background-color: rgb(59, 54, 54,.7);
    transition: .2s ease-in-out;
  }
  .news-slidebar-visible{
    bottom:4.5vh ;
  }
  /* Notification slidebar Styling  */
  .notification-sliderbar{
    height: 95.5vh;
    width: 100vw;
    border:1px solid white;
    width: 23vw;
    position: fixed;
    bottom:4.5vh;
    right: -100%;
    background-color: rgb(59, 54, 54,.7);
    transition: .2s ease-in-out;
  }
  .notification-slidebar-visible{
    right: 0;
  }
  
  /* calender slidebar Styling  */
  
  .calender-slidebar{
    height: 75.5vh;
    border:1px solid white;
    width: 22vw;
    position: fixed;
    right: 0;
    bottom:-100vh;
    background-color: rgb(59, 54, 54,.7);
    transition: .2s ease-in-out;
  }
  .calender-sliderbar-visible{
    bottom:4.5vh;
  }

  .hidden-apps-slidebar{
    height: 12vh;
    border:1px solid white;
    width: 7.5vw;
    position: fixed;
    right: 10.5vw;
    bottom: -100%;
    background-color: rgb(59, 54, 54,.7);
    transition: .2s ease-in-out;  
  }
  .hidden-apps-slidebar-visible{
    bottom:4.5vh;
  }
  .wifi-slidebar{
    height: 50vh;
    border:1px solid white;
    width: 20vw;
    position: fixed;
    right: 0;
    bottom:-100vh;
    background-color: rgb(59, 54, 54,.7);
    transition: .2s ease-in-out;  
  }
  .wifi-slidebar-visible{
    bottom:4.5vh;
  }