/* MAIN DESKTOP STYLING */

.wrapper{
  z-index: 0;
}
body{
    background-image:url(/assets/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% ;
    overflow: hidden;
}
    
.desktopArea{
    height: 95.5vh;
    width: 100vw;
    
}

.Taskbar{
    height: 4.5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color:  rgba(12, 12,12);
    z-index: 5;
    
}
.menuItems{
    height: 4.5vh;
    width: 73vw;
   display: flex;
    align-items: center;

}
#startImage{
    height: 19px;
    width: 19px;
}
#searchIcon{
    height: 20px;
    width: 20px;
}
#searchIcon{
    margin-left: 5px;
    margin-right: 5px;
}
#startImage:hover{
    filter: invert(47%) sepia(45%) saturate(2415%) hue-rotate(168deg) brightness(96%) contrast(101%);
}
.startButton:hover{
   background-color:rgb(255, 255, 255,.1);
}
.startButton{
    height: 4.5vh;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBar{
  height: 4.5vh;
  width: 19vw;
  font-weight: 110;
  font-size: medium;
  display: flex;
  align-items: center;
  background-color: rgb(24, 21, 21);
}
.searchBar:hover{
    border: rgb(133, 128, 128) 1px solid;
}
.task:hover{
  background-color:rgb(255, 255, 255,.1);
}
.task{
  height:4.5vh;
  width: 3.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather{
   display: flex; 
  height: 4.5vh;
  width: 12vw;

    
}
.weather:hover,.systemItems div:hover{
  background-color: rgb(255, 255, 255,.1);
}
.weathericon{
  height: 4.5vh;
  width: 3vw;

  display: flex;
  justify-content: left;
  align-items: center;

}
.temperature{
  height: 4.5vh;
  width: 3vw;

  display: flex;
  justify-content: left;
  align-items: center;
}
.weathertype{
  height: 4.5vh;
  width: 6vw;
  margin: 0px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 180;

}
.systemItems{
   
    height: 4.5vh;
    width: 15vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.sys{
  display: flex;
  justify-content: center;
  align-items: center;
   
  height: 4.5vh;
  width: 2vw;
 
}
.calender{
  height: 4.5vh;
  width: 6vw;

  text-align: center;
  font-weight: 220;
  font-size: .8rem;
}
.notifications{
  height: 4.5vh;
  width: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3px;
 
}
/* frame styling */
.frame{
    height: 95.5%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0px;
    transition:height 0.25s,width 0.25s;
    background-color: white;
    
  }
  .frametop{
    height: 40px;
    width: 100%;
    background-color: rgb(44, 43, 43);
    display: flex;
    justify-content: space-between;
   
  }
  .framedetails{
    height: 40px;
    width: 10vw;
    display: flex;
  }
  .frameicon{
    height: 40px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .framename{
    color: white;
    height: 40px;
    width: calc(10vw - 45px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
  
  }
  .framecontrols{
    height: 4vh;
    width: 10vw;
    display: flex;
  
  }
  #gitframe{
  height:91.5vh;
  width: 100%;
  
  }
  .frameminimize,.frameclose,.frameresize{
    height: 4vh;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .frameminimize:hover,.frameresize:hover{
  background-color: rgb(168, 163, 163,.5);
  }
  .frameclose:hover{
   background-color: rgb(167, 14, 14);
  }
  .smallwindow{
    position: absolute;
    height: 80%;
    width: 60%;
   }
   
   
/* Context-MENU styling */
  #cntnr{
      position:fixed;
      border:1px solid #B2B2B2;
      width:200px;      
      height: 245px;
      background-color: rgb(56, 54, 54);
      font-weight: 220;
      font-size:12px;
     }
  
     #cntnr>div{
       display: flex;
       height:20px ;
       justify-content: space-around;
       margin: 3.3px;
      
  
  
     }
     .context-icon{
       height:20px;
       width: 20px;
       display: flex;
         justify-content: left;
         align-items: center;
         margin-left: 8px;
   
      }
      .new {
        border-top:1px solid rgb(104, 99, 99) ;
      }
      .context-name{
         height: 20px;
         width: 160px;
       
         display: flex;
         justify-content: left;
         align-items: center;
      }
      #cntnr div:hover{
       background-color:  rgb(155, 144, 144);
       cursor: default;
      }
      .paste{
        border-top:1px solid rgb(104, 99, 99) ;
      }
    
  
    
